body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.rojo {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: tomato;
    padding:0.5rem;
    margin:0.5rem;
}

.verde {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background:lightseagreen;
    padding: 0.5rem;
    margin: 0.5rem;
    color:#fff;
}
